# Default owners
* @Azure/connectors-sdk-maintainers

# Server
/Server/ @Azure/connectors-sdk-maintainers
/Server.Tests/ @Azure/connectors-sdk-maintainers

# VS Code extension
/vscode-extension/ @Azure/connectors-sdk-maintainers
